* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
.ada_lovelace {
  color: rgb(43, 43, 43);
}
body {
  background-color: rgb(215, 238, 238);
}
/* projects */
.projects-div {
  min-height: 18rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #003256;
  background-image: linear-gradient(to bottom right, #003256, #f00cca);
}

img {
  object-fit: cover;
}

.img-portfolio {
  height: 20rem;
  width: 90%;
  max-width: 55rem;
  min-height: 18rem;
  border-radius: 4px;
  box-shadow: 2px 4px 4px rgba(32, 32, 32, 0.6);
}

/* other projects  */
.other-projects-content {
  max-width: 29rem;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 4px 4px rgba(32, 32, 32, 0.6);
}
.other-projects-img {
  width: 100%;
  height: 18rem;
}

@media (max-width: 767px) {
  .other-projects-row {
    gap: 2rem;
  }
}
